.App {
  margin-left: 80px;
  margin-top: 36px;
  text-align: center;
}

.App-header {
  align-items: center;
  color: white;
  font-family: "Exo 2.0- Thin";
  font-size: 42px;
  flex-direction: column;
  margin-bottom: 20px;
}

.App-background {
  height: 100%;
  left: 0;
  position: absolute;
  width: -webkit-fill-available;
}
